<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <!-- axios -->
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"></script>
    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" 
            crossorigin="anonymous">
    </script>
    <!-- sweetalert2 -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
    <form>
        ID <input type="text" name="id" required> <br>
        PW <input type="text" name="pw" required>

        <!-- <button type ="button" onclick="login()">로그인</button> -->
        <button type="button" onclick="login()">로그인</button>
        <a href="/new_user"><button type="button">회원 가입</button></a>
        
    </form>

<script>
    function login(){
        var form = document.querySelector("form");
        var data = {
            id: form.id.value,
            pw: form.pw.value
        }
        axios({
            url: "/login",
            method: "post",
            data: data,
        }).then((response) => {
            console.log(response)
            if( response.data.result == 1 ){
                document.getElementById('fa').style.display=""
            }else{
                var user_id = response.data[0].id
                // form.style.display="none";
                axios({
                    url: "/user",
                    method: "get",
                }).then((response) => {
                    window.location = `/user?id=${user_id}`;
                }).catch((err) => console.log(err))
            }
        })
    }
</script>
<div id="fa" style="display: none;">로그인 실패</div>
</body>
</html>